* {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Crimson Text", serif;
  font-weight: 1000;
  font-style: normal;
  font-size: 64px;
  margin: 10px;
  margin-top: 20px;
}
#Banner {
  background-image: linear-gradient(to bottom right, rgb(0, 0, 0, 0), black),
    url(testconcert.jpeg);
  height: 100vh;
  width: 100vw;
  background-size: cover;
}
#content {
  width: 100%;
}

#Releases {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
}

#Releases h1 {
  color: white;
}

#Merch {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background-color: #6b0a0a;
  width: 100vw;
}
#Merch h1 {
  color: #440b0b;
}

#album {
  width: 600px;
  margin: 20px;
}
