* {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Crimson Text", serif;
  font-weight: 1000;
  font-style: normal;
  font-size: 70px;
  margin: 10px;
  margin-top: 20px;
  filter: blur(0.5px);
  letter-spacing: 15px;
  text-shadow: 8px 8px rgb(228, 183, 183);
}

h2 {
  font-family: "Crimson Text", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  margin: 10px;
  margin-top: 20px;
  filter: blur(0.5px);
  letter-spacing: 15px;
  -webkit-text-stroke: 1px rgb(228, 183, 183);
}
p {
  font-family: "Crimson Text", serif;
  font-weight: 100;
  font-style: normal;
  font-size: 64px;
  letter-spacing: 15px;
}

#banner-video {
  z-index: 0;
}

#Banner {
  background-image: linear-gradient(to bottom right, rgb(0, 0, 0, 0), black);
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
#content {
  width: 100%;
}

#Releases {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  box-shadow: 0 0 5px 15px #21073a;
}

#Releases h1 {
  color: white;
}

#Merch {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background-color: rgb(15, 14, 14);
  width: 100vw;
}
#Merch h1 {
  color: #7e1414;
  text-shadow: 8px 8px #440b0b;
}

#album {
  width: 600px;
  margin: 20px;
  position: absolute;
  transition: filter 0.25s ease-out;
}

#album-cover {
  width: 640px;
  height: 637px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  transition: filter 0.25s ease-out;
}

#album-cover:hover #album {
  filter: brightness(40%);
}

#album-cover p {
  position: relative;
  margin-top: 150px;
  visibility: hidden;
  filter: blur(2px);
  font-family: "Crimson Text", serif;
  font-weight: 100;
  font-style: normal;
  font-size: 64px;
}

#album-cover:hover p {
  visibility: visible;
  filter: blur(0.4px);
  transition: filter 0.7s ease-out;
}

#spotify {
  color: white;
  visibility: hidden;
  filter: blur(2px);
}

#album-cover:hover #spotify {
  visibility: visible;
  filter: blur(0.4px);
  transition: filter 0.7s ease-out;
}

a:hover {
  cursor: pointer;
}

#overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-image: linear-gradient(to bottom right, rgb(0, 0, 0, 0), black);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#overlay button {
  transform: translate(0, 300px);
  border: solid 5px #290606;
  font-size: 2vw;
  padding: 20px;
  letter-spacing: 1.5vw;
  font-weight: 700;
  border-style: ridge;
  transition: all, 0.5s;
  transition: text-shadow, 0.1s;
  background-color: #440b0b29;
  color: #821414;
}

#overlay button:hover {
  border: none;
  background-color: #21073a65;
  cursor: pointer;
  color: #821414;
  text-shadow: 8px 8px #440b0b;
}

#singles-container {
  display: inline-block;
  aspect-ratio: 1/0.5;
  width: 96vw;
  margin-bottom: 4vw;
  margin-top: 1vw;
}

.single {
  aspect-ratio: 1/1;
  width: 25%;
  transition: filter 0.25s ease-out;
  overflow: hidden;
  display: inline-block;
}

.single-image {
  aspect-ratio: 1/1;
  width: 24%;
  z-index: 1;
  position: absolute;
  border-radius: 8px;
}

.single:hover .single-image {
  filter: brightness(40%);
  transition: filter 0.25s ease-out;
}

.single-details {
  aspect-ratio: 1/1;
  width: 100%;
  z-index: 99;
  top: -100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.single-details p {
  font-size: 2vw;
  visibility: hidden;
  filter: blur(2px);
}
.single-details img {
  visibility: hidden;
  filter: blur(2px);
  width: 9vw;
}

.single:hover p {
  visibility: visible;
  filter: blur(0.4px);
  transition: filter 0.7s ease-out;
}
.single:hover img {
  visibility: visible;
  filter: blur(0.4px);
  transition: filter 0.7s ease-out;
}

#Merch {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
}

.slider-container {
  width: 99vw;
  overflow-y: hidden;
  height: 600px;
  display: flex;
  justify-content: center;
}
