* {
  padding: 0px;
  margin: 0px;
  scrollbar-color: #21073a black;
  scrollbar-width: thin;
}
#content {
  margin-top: 0px; /* Push content down to avoid overlapping with navbar */
  z-index: 0;
  position: relative;
  overflow-x: hidden;
}
